In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC

In [3]:
df = pd.read_csv(file_path)

In [4]:
len(df)

100

In [5]:
df.head()

,No,Sentences,Subject of comparison,Object of comparison,Nature,Categories,Feature matching,Symmetry,Salience,"Broad, unifying concept",Domain incongruence,Gold
0,1,Tom is as fast as a leopard.,Tom,a leopard,Qualitative,"Different basic level category (human, animal)",More prominent differences,Asymmetrical,High salience in object of comparison,Meaningful,Distinct,Simile
1,2,"But he’s no fool, even if he is as obstinate a...",He,a mule,Qualitative,"Different basic level category (human, animal)",More prominent differences,Asymmetrical,High salience in object of comparison,Meaningful,Distinct,Simile
2,3,I was as cool as a cucumber.,I,cucumber,Qualitative,"Different basic level category (human, fruit)",More prominent differences,Asymmetrical,High salience in object of comparison,Meaningful,Distinct,Simile
3,4,He paid as much as a million dollars for the p...,He,-,-,-,-,-,-,-,-,Not Applicable
4,5,The wicked flee when no one pursues; but the r...,Righteous,a lion,Qualitative,"Different basic level category (human, animal)",More prominent differences,Asymmetrical,High salience in object of comparison,Meaningful,Distinct,Simile

In [6]:
df= df[["Sentences", "Gold"]]

In [7]:
df

                                            Sentences            Gold
0                        Tom is as fast as a leopard.          Simile
1   But he’s no fool, even if he is as obstinate a...          Simile
2                        I was as cool as a cucumber.          Simile
3   He paid as much as a million dollars for the p...  Not Applicable
4   The wicked flee when no one pursues; but the r...          Simile
..                                                ...             ...
95         He always keeps his room as neat as a pin.          Simile
96              He is as stubborn as a Missouri Mule.          Simile
97               The surface was as flat as a mirror.      Comparison
98  It allows very poor people, who don't qualify ...  Not Applicable
99                        Tom is as gentle as a lamb.          Simile

[100 rows x 2 columns]

In [8]:
print(df['Gold'].unique())

['Simile' 'Not Applicable' 'Comparison']

In [9]:
new_df= df.copy()

In [10]:
new_df.loc[new_df['Gold'] == 'Simile', 'Gold'] = 0
new_df.loc[new_df['Gold'] == 'Comparison', 'Gold'] = 1
new_df.loc[new_df['Gold'] == 'Not Applicable', 'Gold'] = 2

In [11]:
new_df

                                            Sentences Gold
0                        Tom is as fast as a leopard.    0
1   But he’s no fool, even if he is as obstinate a...    0
2                        I was as cool as a cucumber.    0
3   He paid as much as a million dollars for the p...    2
4   The wicked flee when no one pursues; but the r...    0
..                                                ...  ...
95         He always keeps his room as neat as a pin.    0
96              He is as stubborn as a Missouri Mule.    0
97               The surface was as flat as a mirror.    1
98  It allows very poor people, who don't qualify ...    2
99                        Tom is as gentle as a lamb.    0

[100 rows x 2 columns]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(new_df['Sentences'], new_df['Gold'], test_size= 0.2, random_state= 42)

In [39]:
word_vectorizer= TfidfVectorizer(ngram_range=(1,2), analyzer='word')

In [40]:
word_vectorizer.fit(X_train)

TfidfVectorizer(ngram_range=(1, 2))

In [234]:
# training data

X_train_word = word_vectorizer.transform(X_train)

# test data

X_test_word = word_vectorizer.transform(X_test)

In [235]:
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [236]:
model = SVC(C=1.0, kernel='linear')

model.fit(X_train_word, y_train)

SVC(kernel='linear')

In [237]:
predictions = model.predict(X_test_word)

In [238]:
print ("Accuracy:", accuracy_score(y_test, predictions))

Accuracy: 0.75